//Fuentes
$fuente_principal: 'Roboto', sans-serif;

//Tamaño media-queries
$small: 480px;
$medium: 768px;
$big: 1280px;

// //Colores
$primary:  #F39C12;
$secondary :  #E5E7E9;
$dark: #17202A;
$info: #D7DBDD ;
// $primario: #e8505b;
// $secundario: #455a64;
// $negro: #000000;
// $blanco: #FFFFFF;
// $grisClaro: #eceeef;

$separacion: 5rem;

